@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="id" name="房屋编号" value="${item.id}" underline="true"/>
                    <#input id="houseUser" name="业主名称" value="${item.houseUser}" underline="true"/>
                    <#input id="houseAddress" name="房屋地址" value="${item.houseAddress}" underline="true"/>
                </div>

                <div class="col-sm-6">
                    <#input id="houseData" name="交付日期" value="${item.houseData}" underline="true"/>
                    <#input id="houseDesc" name="房屋描述" value="${item.houseDesc}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TblHouseInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TblHouseInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/housemanager/tblHouse/tblHouse_info.js"></script>
@}
